/* some style */

body {
    margin : 0px;
    padding : 0;
    background-color : #d7f2ff;
}

::-webkit-scrollbar {
  display: none;
}

.card {
    background : #EEEEEE;
    padding : 0;
    color : #FFFFFF;
    margin : 0px;
    position : absolute;
    height : 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardbutton {
    background : none;
    padding : 0;
    position: absolute;
    right: 10px;
    top: -20px;
    display: inline-block;
    font-size : 1.9em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border : none;
    text-align: right;
    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
    transform-origin: bottom right;
    transform: rotate(-90deg);
}


.sidemenubtn {
    background : #a0cee5;
    padding-left : 20px;
    padding-top : 5px;
    width : 250px;
    height : 40px;
    position: relative;
    right: 10px;
    top: -20px;
    font-size : 1.7em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border : none;
    text-align: left;
    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
}

.logo {
    position : absolute;
    margin-top : 0px;
    left : -170px;

    background : none;
    font-size : 1.9em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
}
