/* some style */

body {
    margin : 0px;
    padding : 0;
    background-color : #d1ffcc;
}

::-webkit-scrollbar {
  display: none;
}

.card {
    background : #EEEEEE;
    padding : 0px;
    color : #FFFFFF;
    margin : 0px;
    position : absolute;
    min-height : 100vh;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.3);
    display:inline-block;
}

.cardbutton {
    cursor: pointer;
    background : none;
    padding : 0;
    position: absolute;
    right: 10px;
    top: -5px;
    display: inline-block;
    font-size : 1.9em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border : none;
    text-align: right;
    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
    transform-origin: bottom right;
    transform: rotate(-90deg);
}


.sidemenubtn {
    cursor: pointer;
    vertical-align: middle;
    padding-right:8px;
    padding-top:8px;
    width : 142px;
    height : 32px;
    position: relative;
    left: 0px;
    top: -20px;
    font-size : 1.2em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border : none;
    text-align: right;
    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    position : absolute;
    margin-top : 0px;
    left : -170px;
    top : -5px;
    transform-origin: bottom right;
    transform: rotate(-90deg);

    background : none;
    font-size : 1.9em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-shadow: 1px 1px 3px #555555;   
    color : #000033;
}

.content {
    background : "none";
    padding : 0px;
    color : #000000;
    margin-left : 40px;
    margin-right : 40px;
    font-size : 1em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display:inline-block;
}

h1 {
    padding : 0px;
    
    font-size : 2em;
    font-weight : 400;
    font-family : -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-shadow: 1px 1px 3px #555555;   
}

p {
    text-align: justify;
}
